/**
1 change units for yes no edit delete to rem, em
2 solve the buttons coming on top of text
3 make it more lookable
4 store the list in localstorage and retain them even when refreshed
5 change css remove unwanted css
6 

**/

/* Apply general styles to the body, like background color and font-family */
body {
    background-color: #FFDAB9;
    font-family: Arial, sans-serif;
  }
     
  
  /* Style the todo list form */
  .todo-Text {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 10px;
    width: 70%;
  }
  
  #addBtn {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 25%;
  }
  
  /* Style the todo list items */
    #myList {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/*styles for div of each item*/
  .todo-item {
    display: flex;
    max-width: 40vw;
    margin-right: 10px; /* adjust as needed */
    margin-left: 25%;
    margin-bottom: 25px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
     padding: 10px;
    margin-bottom: 5px;

  }
  

  /* Styles for list item */
  .myListItem {
    
    display: flex;
    overflow: auto;
     align-items: center;
    border-radius: 3px;
    color: #333;
    font-size: 16px;
    position: relative;

    
   
  }
  .myListItem input[type="checkbox"] {
    order: -1;
  }

  
  /* Styles for edit button */
  .myListEdit {
    position: absolute; /* position absolutely relative to the list item */
    right: 27.5rem; /* align to the right side with some margin */
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 5px;
    margin-left: 8rem;
    cursor: pointer;
    float:right;
    width: 35px;
    height: 35px;
    padding: 0;
    transform: translateY(-28%);
  }

  .editIcon {
    width: 50px;
    line-height: 40px;
  }
  
  .editIcon i {
    display: block;
    text-align: center;
    line-height: 20px;
  }

  /**styles for input box while ediing**/
  .myEditedInput{
    border: none;
    width: 30rem;
  }
  
  
  /* Styles for delete button */
  .myListDelete {
    position: absolute; /* position absolutely relative to the list item */
    right: 24rem;/* align to the right side with some margin */
    background-color: #f44336;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 5px;
    margin-left: 10rem;
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    padding: 0;
    transform: translateY(-30%);
     

  }
  .deleteIcon {
    width: 50px;
    line-height: 30px;
  }
  
  .deleteIcon i {
    display: block;
    text-align: center;
    line-height: 20px;
  }

  .myListYes {
    position: absolute; /* position absolutely relative to the list item */
    right: 27.5rem; /* align to the right side with some margin */
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 5px;
    margin-left: 8rem;
    cursor: pointer;
    float:right;
    width: 35px;
    height: 35px;
    padding: 0;
    transform: translateY(-28%);
  }
  .yesIcon {
    width: 50px;
    line-height: 40px;
  }
  
  .yesIcon i {
    display: block;
    text-align: center;
    line-height: 20px;
  }

  .myListNo {
    position: absolute; /* position absolutely relative to the list item */
    right: 24rem;/* align to the right side with some margin */
    background-color: #f44336;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 5px;
    margin-left: 10rem;
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    padding: 0;
    transform: translateY(-30%);
     

  }
  .noIcon {
    width: 50px;
    line-height: 30px;
  }
  
  .noIcon i {
    display: block;
    text-align: center;
    line-height: 20px;
  }
  
  